/* 
    btn bg = db0001
*/
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

body{
    background-color: #555;
}

#home{
    height: 100vh;
    width: 100%;
    background-image: radial-gradient(ellipse,rgba(0,0,0,0.2),rgba(0,0,0,0.8)),url(images/header-image.png);
    background-size: cover;
    background-position: center;
}

.nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2rem 10rem;
}

.logo{
    cursor: pointer;
    width: 170px;
    height: 40px;
}

.nav-btns{
    display: flex;
    align-items: center;
}

.nav-btns select{
    font-size: 1.1rem;
    background: transparent;
    padding: 5px 10px;
    color: white;
    border: 1px solid white;
    outline: none;
    border-radius: 5px;
    margin-right: 1rem;
}

.nav-btns select:focus{
    outline: 2px solid white;
}

.nav-btns select option{
    color: black;
}

.sign-in{
    color: white;
    background: #e50914;
    border-radius: 4px;
    border: none;
    outline: none;
    padding: 8px 10px;
    font-size: 0.95rem;
    margin-left: 1rem;
    font-weight: 600;
    cursor: pointer;
}

.sign-in:hover{
    opacity: 0.9;
}

.heading{
    text-align: center;
    position: relative;
    top: 20%;
    color: white;
}

.heading-title h1{
    font-size: 3rem;
    font-weight: 800;
    margin: 1.5rem 0;
}

.heading-title h3{
    font-size: 1.5rem;
    font-weight: 500;
    margin: 1.5rem 0;
}

.heading-title p{
    font-size: 1.25rem;
    margin-top: 1.75rem;
}

.heading-options{
    margin-top: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.heading-options input{
    font-size: 1.1rem;
    background: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5));
    padding: 20px 10px;
    border: 1px solid rgba(255,255,255,0.8);
    border-radius: 4px;
    outline: none;
    width: 27%;
    margin: 0 1rem;
    color: white;
}

.heading-options input::placeholder{
    color: #eee;
    opacity: 0.8;
}

.main-btn{
    font-size: 1.35rem;
    font-weight: 550;
    color: white;
    background: #e50914;
    padding: 20px 10px;
    border: none;
    outline: none;
    border-radius: 5px;
    cursor: pointer;
}

.heading-options input:focus{
    outline: 2px solid white;
}

.main-btn i{
    color: white;
    margin: 0 5px;
}
.main-btn:hover{
    opacity: 0.9;
}

/* media query for home page */

@media screen and (width < 400px) {
    .nav{
        flex-direction: column;
        align-items: center;
    }
    .logo{
        margin-bottom: 1rem;
    }
}

@media screen and (width <= 500px){
    .nav{
        padding: 20px;
    }

    .logo{
        width: 150px;
        height: 35px;
    }

    .nav-btns select{
        font-size: 0.75rem;
        margin-right: 0;
    }
    .sign-in{
        font-size: 0.85rem;
    }

    .heading{
        padding: 0 10px;
    }
    .heading-title h1{
        font-size: 2rem;
    }
    .heading-title h3{
        font-size: 1.25rem;
    }
    .heading-title p{
        font-size: 1.20rem;
        padding: 0 10px;
    }

    .heading-options{
        flex-direction: column;
    }
    .heading-options input{
        width: 80%;
        margin-bottom: 10px;
    }
    .main-btn{
        font-size: 1.2rem;
        padding: 15px 20px;
    }
}

@media screen and (width > 500px) and (width <= 800px){
    .nav{
        padding: 20px;
    }
    .logo{
        width: 150px;
        height: 35px;
    }
    .heading{
        padding: 0 10px;
    }
    .heading-title h1{
        font-size: 2rem;
    }
    .heading-title h3{
        font-size: 1.25rem;
    }
    .heading-title p{
        font-size: 1.20rem;
        padding: 0 10px;
    }

    .heading-options{
        flex-direction: column;
    }
    .heading-options input{
        width: 80%;
        margin-bottom: 10px;
    }
    .main-btn{
        font-size: 1.2rem;
        padding: 15px 20px;
    }
}

/* Poster Designing */
.poster{
    margin: 0.5rem 0;
    height: 75vh;
    width: 100%;
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: center;
}

.poster-img img{
    width: 550px;
    height: 450px;
    margin: 0 2rem;
}

.poster-title{
    color: white;
}
.poster-title h1{
    font-size: 2.5rem;
    font-weight: 900;
    padding: 1rem 0;
}
.poster-title p{
    font-size: 1.5rem;
    line-height: 1.3;
}